CONFIG_TARGET_sunxi=y
CONFIG_TARGET_sunxi_cortexa7=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_xunlong_orangepi-one=y

# 核心：勾选此项，OpenWrt 就会去 Makefile 里找 U-Boot/orangepi_one
# 而那里现在已经被我们塞进了 T113-i 的内核补丁和逻辑
CONFIG_PACKAGE_uboot-sunxi-orangepi_one=y

CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb-storage=y
