name: T113-i High-Speed Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'patches-uboot/**'

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Initialization Environment
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential python3-pyelftools swig device-tree-compiler
          sudo mkdir -p /workdir && sudo chown $USER:$GROUPS /workdir

      - name: Clone OpenWrt
        run: |
          cd /workdir
          git clone --depth 1 https://github.com/openwrt/openwrt.git openwrt
          ln -sf /workdir/openwrt $GITHUB_WORKSPACE/openwrt

      - name: Cache Toolchain
        id: cache-toolchain
        uses: actions/cache@v4
        with:
          path: |
            openwrt/staging_dir
            openwrt/build_dir/host
            openwrt/build_dir/toolchain-*
          key: ${{ runner.os }}-openwrt-toolchain-v2-${{ hashFiles('openwrt/include/toplevel.mk') }}
          restore-keys: |
            ${{ runner.os }}-openwrt-toolchain-v2-

      - name: Apply Patches & Compile
        run: |
          cd openwrt
          ./scripts/feeds update -a && ./scripts/feeds install uboot-sunxi
          
          # 执行注入脚本
          chmod +x $GITHUB_WORKSPACE/diy-part2.sh
          $GITHUB_WORKSPACE/diy-part2.sh
          
          # 执行编译
          cp $GITHUB_WORKSPACE/seed.config .config
          make defconfig
          make package/boot/uboot-sunxi/compile V=s -j$(nproc)

      - name: Upload Native Firmware
        uses: actions/upload-artifact@v4
        with:
          name: T113i-Uboot-Final
          path: openwrt/bin/targets/sunxi/cortexa7/*-with-spl.bin
